#include "resource.h"
#include "afxres.h"

1000 DIALOGEX 0, 0, 430, 278
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Infinity MFC Test Client"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Host", -1, 8, 10, 22, 8
    EDITTEXT        IDC_EDIT_HOST, 50, 8, 90, 14, ES_AUTOHSCROLL
    LTEXT           "Port", -1, 150, 10, 22, 8
    EDITTEXT        IDC_EDIT_PORT, 178, 8, 45, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Connect", IDC_BUTTON_CONNECT, 234, 7, 62, 16

    LTEXT           "Email", -1, 8, 32, 28, 8
    EDITTEXT        IDC_EDIT_EMAIL, 50, 30, 156, 14, ES_AUTOHSCROLL
    LTEXT           "Password", -1, 216, 32, 42, 8
    EDITTEXT        IDC_EDIT_PASSWORD, 264, 30, 90, 14, ES_PASSWORD | ES_AUTOHSCROLL

    LTEXT           "Nickname", -1, 8, 54, 40, 8
    EDITTEXT        IDC_EDIT_NICKNAME, 50, 52, 156, 14, ES_AUTOHSCROLL
    LTEXT           "Provider", -1, 216, 54, 38, 8
    EDITTEXT        IDC_EDIT_PROVIDER_TOKEN, 264, 52, 126, 14, ES_AUTOHSCROLL

    LTEXT           "Game Token", -1, 8, 76, 44, 8
    EDITTEXT        IDC_EDIT_GAME_TOKEN, 58, 74, 240, 14, ES_AUTOHSCROLL
    LTEXT           "User ID", -1, 306, 76, 32, 8
    EDITTEXT        IDC_EDIT_USER_ID, 344, 74, 70, 14, ES_AUTOHSCROLL

    PUSHBUTTON      "Register", IDC_BUTTON_REGISTER, 8, 98, 56, 16
    PUSHBUTTON      "Login", IDC_BUTTON_LOGIN, 70, 98, 56, 16
    PUSHBUTTON      "Google", IDC_BUTTON_GOOGLE_LOGIN, 132, 98, 56, 16
    PUSHBUTTON      "Steam", IDC_BUTTON_STEAM_LOGIN, 194, 98, 56, 16
    PUSHBUTTON      "Validate", IDC_BUTTON_VALIDATE_TOKEN, 256, 98, 56, 16
    PUSHBUTTON      "Match", IDC_BUTTON_SUBMIT_MATCH, 318, 98, 48, 16
    PUSHBUTTON      "Stats", IDC_BUTTON_FETCH_STATS, 372, 98, 42, 16
    PUSHBUTTON      "Regression", IDC_BUTTON_RUN_REGRESSION, 8, 120, 72, 16

    EDITTEXT        IDC_EDIT_LOG, 8, 144, 414, 126, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
END
